body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.contenedor {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #444;
}

th, td {
  padding: 10px;
  text-align: left;
}

